.boost
    $height: 250px
    background: $Dark-Violet
    width: 100vw
    height: $height
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column
    color: white
    padding: 52px 0px

    #desk
        display: block

    #mobile
        display: none

    img
        width: 100vw
        height: $height
        position: absolute
        top: 0
        left: 0

    h1
        font-size: 33px

    button
        margin-top: 20px
        width: 170px
        height: 45px
        font-size: 17px
        display: flex
        align-items: center
        justify-content: center
        background: $Cyan
        color: white
        border: none
        border-radius: 20px


@media screen and ( max-width: 1024px )
    .boost
        #desk
            display: none

        #mobile
            display: block    