*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $Poppins
    position: relative

body
    display: flex
    justify-content: center
    // height: 1000px
    // overflow: hidden

main
    width: $mainWidth
    padding: 0 calc(calc( 1440px - 1090px ) / 2)
    display: flex
    justify-items: center    
    flex-direction: column
    margin-top: 30px
    

    
